html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    width: 100%;
    height: 100%;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

table > * {
    font-size: 0.9vw;
}

td{
    max-width: 6.8vw;
    min-width: 6.8vw; 
}

tbody{
    border-collapse: collapse;
    display: block;
    height: 40vw;
    overflow: auto;
    width: 100%;
}

#headerMenu {
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
}

#headerMenu > span{
    font-size: 2vw;
    font-weight: bold;
}

#sideMenu{
    width: 20%;
    height: 100%;
    background: #051e34;
    color:white
}

#sideMenu > details {
    width: 100%;
    margin-left: 0.8vw;
}

#body {
    width: 80%;
    height: 100%;
}

#header > h1{

}

#grafica{
    display: none;
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

#mapa{
    display: none;
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

#tableContainer{
    width: 100%;
    height: auto;
}

.f-col{
    display: flex;
    flex-direction: column;
}

.f-row{
    display: flex;
    flex-direction: row;
}

.f-cen{
    align-items: center;
    justify-content: center;
}

.f-start{
    justify-content: flex-start;
}

#menu > button {
    margin-left: 3vw;
}

#mapid { height: 500px; max-width: 500px;}